h2 {
  color: black;
}

.HomeClass {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in {
  display: flex;
  justify-self: flex-end;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
}

#sign-in:hover {
  color: rgb(255, 123, 123);
  cursor: pointer;
}